%% -*- mode: erlang -*-
{deps, [
        {poolboy,
         {git, "https://github.com/devinus/poolboy",
          {branch, "master"}}},
        {mysql,
         {git, "https://github.com/mysql-otp/mysql-otp",
          {branch, "master"}}}
       ]}.

{erl_opts,[no_debug_info,
           fail_on_warning]}.
